* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* Dark Theme */
  --color-gradient-start: hsl(192, 100%, 67%);
  --color-gradient-end: #624AD9;
  --color-very-dark-blue: #0B111E;
  --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-dark-light-grayish-blue: hsl(234, 39%, 85%);
  --color-dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --color-dark-very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
}

.background{
  position: absolute;
  height: 40vh;
  z-index: -1;
  width: 100%;
  background-color: #624AD9;
  border-end-end-radius: 70% 50%;
  top: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button {
  border: 0;
  outline: 0;
}

.container {
  margin: 40px 0;
  width: 400px;
  height: 700px;
  padding: 10px 25px;
  background-color: #151C28;
  border-radius: 1rem;
  box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
  font-family: "Noto Sans";
}
.container h2.title {
  font-size: 1.45rem;
  margin: 10px;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

.result {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
}
.result__info {
  position: absolute;
  bottom: 4px;
  color: #fff;
  font-size: 0.8rem;
  transition: all 150ms ease-in-out;
  transform: translateY(200%);
  opacity: 0;
}
.result__info.right {
  right: 8px;
}
.result__info.left {
  left: 8px;
}
.result__viewbox {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  line-height: 65px;
}
.result #copy-btn {
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 38px;
  height: 38px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  z-index: 2;
}
.result #copy-btn:active {
  box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
}
.result:hover #copy-btn {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.35);
}

.field-title {
  position: absolute;
  top: -10px;
  left: 8px;
  transform: translateY(-50%);
  font-weight: 800;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.65rem;
  pointer-events: none;
  user-select: none;
}

.options {
  width: 100%;
  height: auto;
  margin: 50px 0;
}

.range__slider {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  margin: 30px 0;
}
.range__slider::before, .range__slider::after {
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}
.range__slider::before {
  content: attr(data-min);
  left: 10px;
}
.range__slider::after {
  content: attr(data-max);
  right: 10px;
}
.range__slider .length__title::after {
  content: attr(data-length);
  position: absolute;
  right: -16px;
  font-variant-numeric: tabular-nums;
  color: #fff;
}

#slider {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - (70px));
  height: 2px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.314);
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#slider::-webkit-slider-thumb:hover {
  background: #d4d4d4;
  transform: scale(1.2);
}
#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
#slider::-moz-range-thumb:hover {
  background: #d4d4d4;
}

.settings {
  position: relative;
  height: auto;
  widows: 100%;
  display: flex;
  flex-direction: column;
}
.settings .setting {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  color: #fff;
  margin-bottom: 8px;
}
.settings .setting input {
  opacity: 0;
  position: absolute;
}
.settings .setting input + label {
  user-select: none;
}
.settings .setting input + label::before, .settings .setting input + label::after {
  content: "";
  position: absolute;
  transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}
.settings .setting input + label::before {
  height: 30px;
  width: 50px;
  border-radius: 30px;
  background: rgba(214, 214, 214, 0.434);
}
.settings .setting input + label::after {
  height: 24px;
  width: 24px;
  border-radius: 60px;
  right: 32px;
  background: #fff;
}
.settings .setting input:checked + label:before {
  background-image: linear-gradient(
    to bottom right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
  transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}
.settings .setting input:checked + label:after {
  right: 14px;
}
.settings .setting input:focus + label:before {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}
.settings .setting input:disabled + label:before, .settings .setting input:disabled + label:after {
  cursor: not-allowed;
}
.settings .setting input:disabled + label:before {
  background: #4f4f6a;
}
.settings .setting input:disabled + label:after {
  background: #909090;
}

.btn.generate {
  user-select: none;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 8px;
  color: #fff;
  border: none;
  background: var(--color-gradient-end);
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 150ms ease;
  font-family: 'Noto Sans';
  font-size: 1.2rem;
}

.btn.generate:active {
  transform: translateY(-3%) scale(0.95);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}

.support {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}

a {
  margin: 0 20px;
  color: #fff;
  font-size: 2rem;
  transition: all 400ms ease;
}

a:hover {
  color: #222;
}

a:visited{
  color: #fff;
  text-decoration: none;
}

.github-corner svg {
  position: absolute;
  right: 0;
  top: 0;
  mix-blend-mode: darken;
  color: #eeeeee;
  fill: #353535;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 0.56s;
}

.footer {
  color: #fff;
  margin: 80px 0 0 0;
  font-size: 15px;
  text-align: center;
  
}

.footer > a {
  color: var(--color-gradient-end);
  margin: 10vh 0 0 0;
  font-size: 15px;
  text-decoration: none;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-20deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}

@media screen and (max-width: 1200px) {

  .background{
    position: absolute;
    height: 40vh;
    z-index: -1;
    width: 100%;
    background-color: #624AD9;
    border-end-end-radius: 70% 50%;
  }

  .container h2.title {
    font-size: 2.5rem;
  }

  body{
    overflow: hidden;
    width: 100%;
    align-items: baseline;
    max-height: fit-content;
    background-image: none;

  }
  .container {
      font-size: 1.5rem;
      width: 90%;
      height: 75vh;
      margin-bottom: 0;
      border-radius: 2rem;
  }

  .container h2.title {
    font-size: 3rem;
    margin: 20px;
    color: #fff;
    text-align: center;
  }

  .result{
    font-size: 3.5rem;
    height: 200px;
    position: relative;
  }

  .result__viewbox{
    font-size: 3rem;
    line-height: 200px;
  }

  .range__slider {
    height: 150px;
    margin: 60px 0;

  }
  .range__slider::before, .range__slider::after {
    position: absolute;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
  }
  .range__slider::before {
    
    left: 35px;
  }
  .range__slider::after {
    
    right: 25px;
  }
  
  #slider {

    width: calc(100% - (200px));
    height: 20px;
    border-radius: 20px;

  }

  #slider::-webkit-slider-thumb {

    width: 40px;
    height: 40px;

  }

  .field-title {
    
    position: absolute;
    top: -20px;
    left: 8px;
    transform: translateY(-50%);
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 1.5rem;
    pointer-events: none;
    user-select: none;
    margin-right: 10px;
  }


  .range__slider .length__title::after {
    content: attr(data-length);
    position: absolute;
    right: -30px;
    font-variant-numeric: tabular-nums;
    color: #fff;
  }
  

  .settings {
    position: relative;
    height: auto;
    widows: 100%;
    display: flex;
    flex-direction: column;
  }
  .settings .setting {
    position: relative;
    width: 100%;
    height: 120px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #fff;
    margin-bottom: 8px;
    font-size: 2rem;
  }

  .settings .setting input + label::before {
    margin-right: 30px;
    height: 60px;
    width: 110px;
    border-radius: 30px;
    background: rgba(214, 214, 214, 0.434);
  }
  .settings .setting input + label::after {
    margin-right: 30px;
    height: 54px;
    width: 54px;
    border-radius: 60px;
    right: 74px;
    background: #fff;
  }

  .btn.generate {
    font-size: 3rem;
    user-select: none;
    position: relative;
    width: 100%;
    height: 150px;
    margin: 10px 0;
    margin-top: 80px;
    border-radius: 2rem;
    color: #fff;
    border: none;
    background: var(--color-gradient-end);
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease;
    font-family: 'Noto Sans';
  }

  .footer {
    color: #fff;
    margin: 80px 0 0 0;
    font-size: 15px;
    
  }
  
  .footer > a {
    color: var(--color-gradient-end);
    margin: 10px 0 0 0;
    font-size: 15px;
  }

  .result__info {
    position: absolute;
    bottom: 4px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 150ms ease-in-out;
    transform: translateY(200%);
    opacity: 0;
  }

  .result #copy-btn {
    font-size: 1.5rem;
    width: 80px;
    height: 80px;

  }
  
}

/*# sourceMappingURL=index.css.map */

